.header {
  /* grid-area: h; */
  background-color: #D8BFD8;  
}
.item {
  color: #696969;
  text-shadow: 5px 5px 10px #000000;
}
.gridContainer {
  display: grid;
  grid-template-areas: 
  "p b c l"
  "p b c l";
  grid-template-columns: 5% 14% 39% 40%;
} 

.a {
  font-weight: 800;
  text-decoration: none;
  border-radius: 3px;
  background: #FFD700;
  color: white;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #FFD700;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #FFFF00;
  box-shadow: 0 -3px #FFD700 inset;
  transition: 0.2s;
  height: 40px;
  text-align: center;
  margin: 5px;
}
.a:active {
  background: #FFFF00;
  box-shadow: 0 3px #FFFF00 inset;
}

header > img {
  width: 60px;
  height: 60px;
  border-radius: 10px;
}