.nav {
    grid-area: n;
    background-color: #FFC0CB;
    padding: 10%;
    cursor: 'pointer'
  }
  .item a {
    color: #696969;
    text-decoration: none;
  }
  .item a.activeLink {
    color: 	#FF00FF;
  }
