.dialogs {
    display: grid;
    color: #696969;
    grid-template-columns: 2fr 10fr;
    text-shadow: 5px 5px 10px #000000;
}

.dialogsItems {
    padding: 30px;

}
.dialogsItems a {
    color: #696969;
    text-shadow: 5px 5px 10px #000000;
    text-decoration: none;
}

.dialogsItems a.activeLink {
    color: 	#FF00FF;
    text-shadow: 5px 5px 10px #000000;
}

.messages {
    padding: 30px;
}

.item img {
    width: 70px;
    height: 70px;
    border-radius: 20px;
}